



    <mat-icon class="dbl-click-heart" [style.visibility]="liked ? 'visible' : 'hidden'">favorite</mat-icon>
<section class="main">
  <div class="loading" *ngIf="loading"></div>
  <div *ngIf="!loading && !data.status" style="color:white;">post not found</div>
<img
  *ngIf="!loading && data.status"
  src="api/post/{{data.post_img}}"
   class="postImg"
    (dblclick)="like(1)" />
</section>
  <div class="content" *ngIf="!loading && data.status">
     <b>{{data.name}}</b>
    <div class="btns">
     <button mat-icon-button ><mat-icon [color]="data.liked && 'warn'" (click)="like(2)">favorite</mat-icon></button>{{data.heart}}
      <a [routerLink]="['/comment',post_id]" [state]="{refresh:false}"  mat-icon-button><mat-icon>chat</mat-icon></a>{{data.comm}}
     <button mat-icon-button   (click)="deletePost(data.post_img)" [style.background]=" deleting && 'white'" [disabled]="deleting"><mat-icon>delete</mat-icon></button>
      
    </div>
   </div>
