




<app-footer></app-footer>
<section class="main" (scroll)="handleScroll($event)">
    <main class="header mat-elevation-z3">
    <a [routerLink]="['/profile',id]" [state]="{refresh:false}" mat-icon-button><mat-icon>arrow_back_ios_new</mat-icon></a>
    <b>&nbsp; following</b>
    </main>
    <article class="container">
   <div *ngFor="let follower of data">
    <table width="100%">
     <tr>
       <td width="60px">
         <a mat-icon-button [routerLink]="['/profile',follower.id]"  [state]="{refresh:false}">
           <img src="api/image/{{follower.image}}" class="dp"/>
         </a>
       </td>
       <td>
         <p>{{follower.name}}</p>
       </td>
       <td style="width:80px; text-align:center;" *ngIf="id==mydata.userid">
         <small *ngIf="!follower.follow_id">{{unfollowing}}</small>
         <button *ngIf="follower.follow_id"   mat-button (click)="handleClick(follower.follow_id)" class="unfollow">unfollow</button>
       </td>
     </tr>
     </table>
     <mat-divider></mat-divider>
   </div>
    <p class="nodata" >{{status}}</p>
   <div class="loading" *ngIf="loading"></div>
   </article>
   <br><br><br>
</section>
