



.unfollow{
  background:dodgerblue;
  color:white;
}
.header{
  padding: 6px;
  position: sticky;
  top:0px;
  z-index: 100;
  background:white;
}
.main{
  position: absolute;
  width:100%;
  height: 100%;
  overflow: scroll;
}
.container{
  padding: 6px 6px 6px 6px;
}
.dp{
  width:50px;
  height: 50px;
  border-radius: 50%;
}
.container a{
  width:50px;
  height:50px;
  margin:5px;
}
.nodata{
  text-align: center;
}