





<section class="main mat-elevation-z2">
  <table width="100%">
    <tr>
      <td>
        <a routerLink="/post" [state]="{refresh:false}" mat-icon-button><mat-icon>home</mat-icon></a>
      </td>
      <td>
        <a routerLink="/search" [state]="{refresh:false}" mat-icon-button><mat-icon>search</mat-icon></a>
      </td>
      <td>
        <a routerLink="/upload" mat-icon-button><mat-icon>add</mat-icon></a>
      </td>
      <td>
        <a routerLink="/notification" [state]="{refresh:false}" mat-icon-button><mat-icon>notifications_none</mat-icon></a>
      </td>
     <!-- <td>
        <a routerLink="" mat-button><mat-icon>chat_bubble_outline</mat-icon></a>
      </td>-->
    </tr>
  </table>
</section>
